<!DOCTYPE html>
<html lang="en"> 
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=chrome">
<meta name="viewport" content="width=device-width, initial-scale=1"> 
<title> {{ site.title }}</title>
        <!-- Bootstrap -->
<link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script typet="text/javascript" src="{{ site.baseurl}}/js/swiper.min.js"></script> 
<!-- <script typet="text/javascript" src="{{ site.baseurl}}/js/swiper.jquery.min.js"></script> -->
<!-- <script typet="text/javascript" src="{{ site.baseurl}}/js/swiper.jquery.umd.min.js"></script> -->

<link href="{{ site.baseurl}}/css/main.css" rel="stylesheet">
<link href="{{ site.baseurl}}/css/mainTop.css" rel="stylesheet">
<link href="{{ site.baseurl}}/css/swiper.min.css" rel="stylesheet">
        <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media
    queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
          <script src="https://oss.maxcdn.com/html5shiv/3.7.2/
    html5shiv.min.js"></script>
          <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
  <body>
<div class="jumbotron" style="height: 260px;margin-bottom: 0;padding-bottom: 0;background-color: #38b48b">
  <div class="container" style="">
   <h1>进则进，不进则退！</h1>
   <p>默默地努力，然后再一鸣惊人...</p>
  </div>
</div>
<div class="container" style="background-color: black;opacity: 0.5;margin-left: 0;margin-right: 0;width: 100%">
  <div class="swiper-container" style="width: 100%;height: 200px;padding: 0;margin-left: 0px">
      <div class="swiper-wrapper">
          <div class="swiper-slide" style="background-color: black;opacity: 0.5"><h1 style="color: white;text-align: center;">毅</h1></div>
          <div class="swiper-slide" style="background-color: black;opacity: 0.6"><h1 style="color: white;text-align: center;">忍</h1></div>
          <div class="swiper-slide" style="background-color: black;opacity: 0.8"><h1 style="color: white;text-align: center;">稳</h1></div>
      </div>
      <div class="swiper-pagination"></div>
  </div>
</div>
{% include navigation.html %}