---
layout: default
---
<div class="home">
    {% for post in site.posts limit:6 %}
        <article class="post">
            <a style="text-decoration: none;" href="{{ post.url | prepend: site.baseurl }}"> 
            <div class="jumbotron">
              <h2>{{ post.title }}</h2>
              <!-- <p>{{ post.content }}</p> -->
              <span class="label label-info">taosiyu</span>
              <span class="label label-default">{{ post.date | date: "%Y年%-m月%-d日" }}</span>
            </div>
            </a>
        </article> 
    {% endfor %}

    <nav>
        <ul class="pager">
            {% if paginator.previous_page %}
                <li class="previous">
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '/index.html', '/' }}" > &laquo; 前一页</a>
                </li>
            {% endif %}
            {% if paginator.next_page %}
                <li class="next">
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl }}">后一页 &raquo;</a>
                </li>
            {% endif %}
        </ul> 
    </nav>
</div>